<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Farmacia HealthCare</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
                <p>Bienvenidos a la pagina oficial de Farmacia HealthCare aquí podrás encpntrar gran variedad de nuestors productos he informaciónde ellos, de igual manera puedes pasar por nuestro apartado de formulario para que puedas poner quejas y sugerencias de nosotros</p>
        <h1>Diferencia entre Acetaminofén y Paracetamol</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qn8XKvGAYH8?si=48wb3VqT5PzUX3wj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
